<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BookManagerPortBinding" />
                <binding name="CustomerManagerPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:666/customer" binding="basicHttpBinding"
                bindingConfiguration="CustomerManagerPortBinding" contract="CustomerManagerService.CustomerManager"
                name="CustomerManagerPort" />
            <endpoint address="http://localhost:666/books" binding="basicHttpBinding"
                bindingConfiguration="BookManagerPortBinding" contract="BookManagerService.BookManager"
                name="BookManagerPort" />
        </client>
    </system.serviceModel>
</configuration>